a{
color:#000000;
font-wight:bold;
}
div.db{
width:100%;
background-color:#567234;
padding: 10px;
height:120px;
}
div.bl{
max-width:960px;
background-color:#00aaff;
margin: 0 auto;
margin-top:20px;
padding:10px;
}
img.fi{
float:left;
margin:10px;
width:100px;
height:100px;
}
td.dl1{
background-color:#234234;
}
td.dl2{
background-color:#878234;
}